ul.none {
	list-style-type: none;
}

/* Фикс для определения координат позиции блоков в строках таблиц */
td, th {
	position: relative;
}

td .block_start, th .block_start {
	position: absolute;
	top: 0;
}

td .block_close, th .block_close {
	position: absolute;
	bottom: 0;
}

/* Блок подложки с цветом */
.block {
	position: absolute;
	margin: 0 auto;
	z-index: -1;
}

.block_hidden {
	display: none;
}

/* Цвета для блоков */
.block_even {
	background-color: #FFFBE1;
}

.block_odd {
	background-color: #FFEBE1;
}
